<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.dll" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
				<codeBase version="1.0.0.0" href="newtonsoft\v1\Newtonsoft.v1.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.dll" culture="neutral" />
				<bindingRedirect oldVersion="2.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
				<codeBase version="2.0.0.0" href="newtonsoft\v2\Newtonsoft.v2.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>